<a href="<%= user_path(current_user) %>">
	<%= image_for(current_user) %>
</a>
<h1 style="margin-bottom: 10px;">
	<%= current_user.name %>
</h1>
<span style="margin-bottom: 5px;">
	<%= link_to "View my profile", current_user %>
</span>
<span style="color: #555555">
	<%= pluralize(current_user.microposts.count, "Tweet") %>
</span>
